

.inputComponentDiv{
    justify-content: center;
}

.inputDiv{  
    /* background-color: orange; */
    height: 40px;
    width: inherit;
    margin-top: 10px;
    margin-left: 20px;
}

.addBtnDiv{
    /* background-color: yellow; */
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
}


.addBtn{
    height: inherit;
    width: 180px;
    margin: 0px;
}

.inputField{
    width: 180px;
    height: inherit;
}

@media only screen and (min-width: 1000px){
    .inputDiv{  
        height: 40px;
        width: inherit;
        margin-top: 10px;
        margin-left: 20px;
    }
}