
.myContainer{
    text-align: center;
}

.extLinkDisplay{
    width: inherit;
    height: fit-content;
    border: solid black 2px;
    margin: 10px 10px;
    flex-direction: column;
}

.dateDiv{
    flex-direction: column;    
}

.dropDownLinksDiv{
    justify-content: center;
}

.dropDownDiv label{
    align-self: center;
    width: auto;
}

.linksDropDown{
    margin: auto;
    width: auto;
    margin-bottom: 20px;
}

.myControlClassExtLinks{
    height: 35px;
    border-radius: 2rem;
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color:#bddbfa;    
    
}

.myPlaceholderClassExtLinks{
    font-size: 16px;
    font-weight: 500;   
}

.myMenuClassExtLinks{
    border-radius: 2rem;
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color:#bddbfa;
    overflow: scroll;
    overflow-x: hidden;    
    overflow-y: visible;
}


.getLinksBtnDiv{
    margin-top: 10px;
    margin-bottom: 10px;
}

td{
    border: solid black 1px;
    height: 30px;
}

.extDatePicker{
    width: 250px;
    height: 35px;
    border-radius: 2rem;
    margin-bottom: 20px;
}

.datesRow{
    justify-content: center;
}

.getLinksBtn{
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color:#bddbfa;    
    border-radius: 2rem;
    width: 30%;
    height: 35px;
}