header{
    height: 100px;
    width: 100%;
    background-color: darkblue;
    color: wheat;
    position: relative;
}

h1{
    position: absolute;
    top: 25%;
    left: 47%;
    margin: 0px 0 0 -50px;
}