#divItem{
    display: block;
    margin: 10px;
    border: black solid 1px;
    width: 100%;
    padding: 5px;
}

a, p{
    overflow-wrap: break-word;
}

.navBtn{
    background-color: cornsilk;
    width: inherit;
    border: solid black 1px;
    padding: 2px 5px;
    color: black;
}
.navBtn:hover{
    text-decoration: none;
}
