

.spinner{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container{
    margin-left: 50px;
    margin-right: 50px;
}
.chartContainer{
    
    border: black solid 3px;
}

.centerChart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.datePickersDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.startDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.startDate label{
    width: auto;
    align-self: center;
}

.startDatePicker{
    width: 200px;
    border-radius: 2rem;
}

.endDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endDatePicker{
    width: 200px;
    border-radius: 2rem;
}

.endDate label{
    width: auto;
    align-self: center;
}

.chartBtnDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.chartBtn{
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color:#bddbfa;    
    border-radius: 2rem;
    width: 30%;
    height: 35px;
 }