

.dropDown{
    margin-top: 10px;
    width: 90%;
    /* left: 12%; */
    margin-left: 20px;
    /* margin-right: -10px; */
}

.getBtn{
    height: 40px;
    margin-top: 10px;
    width: 80px;
    margin-left: 20px;
}

.startDatePicker{
    margin-left: 20px;
    width: 100%;
}


label{
    margin-left: 20px;
}

