

.centerDiv{
    justify-content: space-around;
}


.dropDownDiv{
    border-radius: 2rem;
    overflow: hidden;
}

.dropDown{
    border-radius: 2rem;
    margin-top: 10px;
    width: 90%;
    /* left: 12%; */
    margin-left: 20px;
    /* margin-right: -10px; */
}


.getBtn{
    border-radius: 2rem;
    height: 40px;
    margin-top: 10px;
    width: 80px;
    margin-left: 20px;
}

.startDatePicker{
    border-radius: 2rem;
    margin-left: 20px;
    width: 100%;
}


label{
    width: inherit;
    margin-left: 20px;
}

